:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bcg-secondary-color: #f5f4fa;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button-primary,
.button-secondary {
  text-decoration: none;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 500;
  fill: #757575;
  -webkit-transition: color 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier);
}
@media screen and (min-width: 768px) {
  .button-primary,
.button-secondary {
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav-item.mail {
    width: 14px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav-item.phone {
    width: 10px;
    height: 14px;
  }
}

.button-primary:hover,
.button-primary:focus {
  color: var(--accent-color);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--accent-color);
}

.button-primary:hover .auth-nav-item,
.button-primary:focus .auth-nav-item {
  fill: var(--accent-color);
}

.button-secondary:hover,
.button-secondary:focus {
  fill: var(--accent-color);
}

.btn-primary {
  background: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.06em;
  border: none;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier);
}

.btn-primary:hover {
  background-color: #188ce8;
}

.footer__btn {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  line-height: 1.7142857143;
}

.footer__btn.button-primary {
  margin-bottom: 9px;
}

.portfolio__filter-list button {
  background-color: var(--bcg-secondary-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  padding: 6px 22px;
}

.portfolio__filter-list button:hover,
.portfolio__filter-list button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__btn-filter {
  background: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  -webkit-transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
}

.portfolio__filter-list button {
  background-color: var(--bcg-secondary-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  padding: 6px 22px;
}

.portfolio__filter-list button:hover,
.portfolio__filter-list button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal__close-icon {
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto";
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__whatwedo {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section__whatwedo {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section__whatwedo {
    padding-bottom: 94px;
  }
}

.section__team {
  background-color: var(--bcg-secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section__team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section__team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-left: 15px;
}

.logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
  line-height: 1.19;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__part {
  color: #000000;
}

.site-indent {
  margin-left: 88px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .site-indent {
    margin-left: 93px;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: 0;
  right: 0;
  border-radius: 2px;
}

.site-nav__item {
  margin-right: 50px;
  position: absolute;
}
.site-nav__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    position: relative;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-left: 0;
  padding-right: 0;
}

.auth-indent {
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.auth-nav {
  display: none;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding-right: 15px;
  }
  .auth-nav .item + .item {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .auth-nav .item + .item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav-item.mail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav-item.phone {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-item.phone {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-item.mail {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-item.phone-tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-item.mail-tablet {
    display: none;
  }
}

.email-number {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .email-number {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .email-number {
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .email-number {
    margin-left: 10px;
  }
}

.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-btn:hover {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  background-color: var(--primary-white-color);
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.mob-menu__item:hover,
.mob-menu__item:focus {
  color: var(--accent-color);
}

.mob-menu__item {
  margin-bottom: 32px;
}

.close-menu-btn {
  display: block;
  margin-left: auto;
  background: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.close-menu-btn:hover {
  fill: var(--accent-color);
}

.mob-menu__contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__contacts-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.mobile-nav__menu {
  padding-left: 40px;
  padding-top: 48px;
}

.mobile-nav__contact {
  padding-left: 40px;
  padding-bottom: 48px;
}

.mob-menu__contacts-list {
  margin-bottom: 64px;
}

.mob-menu__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mob__menu {
  height: 100%;
  overflow-y: scroll;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
  padding-left: 0;
  padding-right: 0;
}

.mob-menu__soc-item:not(:last-child):after {
  content: "";
  border-left: 1px solid var(--secondary-text-color);
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

.mob-menu__nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu__nav-link.active {
  color: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero-tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero-desk.jpg);
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero-desk-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero-desk-2x.jpg);
  }
}

.hero-title {
  text-align: center;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6153846154;
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  margin-top: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 400px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 120px) / 4);
  }
}

.benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background-color: var(--bcg-secondary-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.benefits__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__description {
  margin: 0 0;
  width: 270px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 100%;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.whatwedo-list {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatwedo__item:not(:first-child) {
  margin-left: 30px;
}

.whatwedo__block {
  position: relative;
}

.whatwedo__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section__whatwedo {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__whatwedo {
    display: block;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__item {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__photo {
  width: 100%;
}

.team__name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
}

.team__position {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 1.1875;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.team__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.team__soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.team__soc-item:first-child {
  margin-left: 0;
}

.team__soc-icon {
  fill: #afb1b8;
}
.team__soc-link:hover .team__soc-icon, .team__soc-link:focus .team__soc-icon {
  fill: var(--primary-white-color);
}

.team__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--accent-color);
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  -webkit-transition: border-color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
  width: calc((100% - 30px) / 2);
  min-height: 92px;
}
@media screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partners__item {
    width: calc((100% - 150px) / 6);
  }
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.partners__link:hover, .partners__link:focus {
  border-color: var(--accent-color);
}

.partner__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.partners__link:hover .partner__icon, .partners__link:focus .partner__icon {
  fill: var(--accent-color);
}

.portfolio-container {
  width: calc(100% - 30px);
}

.footer {
  background-color: #2f303a;
}

.footer-indent {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}

.connect-indent {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .connect-indent {
    margin-left: 70px;
  }
}

.footer__connect-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.footer__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}

.footer__soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.footer__soc-item:first-child {
  margin-left: 0;
}

.footer__icon {
  fill: var(--primary-white-color);
}

.footer__connect-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__connect-title {
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__connect-title {
    text-align: left;
  }
}

.footer__logo {
  color: var(--primary-white-color);
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}
address p {
  color: var(--primary-white-color);
}

.footer__address-data {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mailing-indent {
  margin-left: 93px;
  margin-left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mailing-indent {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-indent {
    margin-left: 93px;
    min-width: 570px;
  }
}

.footer__mailing-input {
  font-size: 16px;
  background-color: transparent;
  height: 50px;
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .footer__mailing-input {
    width: calc(100% - 20px);
  }
}

.footer__mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__mailing-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__btn-mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.footer__twitter {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.portfolio__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 30px);
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter-list {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
    width: calc(100% - 30px);
  }
}

.porfolio-indent {
  padding-left: 0;
  padding-right: 0;
}

.portfolio__list-image {
  width: 100%;
}

.project-title {
  margin-bottom: 4px;
}

.portfolio__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .portfolio__list-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 30px);
  }
}

.portfolio__list-items .portfolio__item {
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__list-items .portfolio__item {
    width: calc((100% - 30px) / 2);
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list-items .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__list-items .portfolio__project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__list-items .portfolio__link {
  text-decoration: none;
}

.portfolio__list-items .portfolio__project-profile {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__wrapper-vision:hover .portfolio__wrapper-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__wrapper-vision {
  height: 100%;
}

.portfolio__item-border {
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .portfolio__item-border {
    height: 106px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item-border {
    height: 100%;
  }
}

.portfolio__wrapper-img {
  position: relative;
  overflow: hidden;
}

.portfolio__wrapper-img .portfolio__wrapper-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-white-color);
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
}
@media screen and (min-width: 480px) {
  .portfolio__wrapper-img .portfolio__wrapper-text {
    height: 100%;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
  }
}

.portfolio__list-items .portfolio__item:hover,
.portfolio__list-items .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 530px;
  min-height: 580px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 610px;
  }
}
@media screen and (min-width: 1600px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    width: 530px;
    min-height: 580px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal__title {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1600px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  outline: transparent;
  -webkit-transition: border-color 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier);
}
.modal__input:focus, .modal__input:hover {
  border-color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin: auto;
}

.modal__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: block;
}

.textarea {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier);
}
.modal__textarea:hover, .modal__textarea:focus {
  border-color: var(--accent-color);
}

.modal__input-wrap {
  position: relative;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.modal__input:focus + .modal__input-icon, .modal__input:hover + .modal__input-icon {
  fill: var(--accent-color);
}

.modal__check-text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__check-text span {
  width: 16px;
  height: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--primary-text-color);
  margin-right: 7px;
}
.modal__input-check:checked + .modal__check-text span {
  border: none;
  background-color: var(--accent-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal__check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1600px) {
  .modal__check-text {
    font-size: 14px;
  }
}

.modal__check-icon {
  fill: transparent;
}
.modal__input-check:checked + .modal__check-text .modal__check-icon {
  fill: var(--primary-white-color);
  border: none;
}

.agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

.modal__check-btn {
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */