.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--cubic-bezier),
    visibility 250ms var(--cubic-bezier);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 530px;
  min-height: 580px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  background-color: var(--primary-white-color);
  border-radius: 4px;
  transition: transform 250ms var(--cubic-bezier);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  outline: transparent;
  transition: border-color 250ms var(--cubic-bezier);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal-btn {
  display: block;
  margin: auto;
}

.modal__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: block;
}

.textarea {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  color: var(--primary-text-color);

  margin-bottom: 20px;

  transition: border-color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__input-wrap {
  position: relative;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic-bezier);
  .modal__input:focus + &,
  .modal__input:hover + & {
    fill: var(--accent-color);
  }
}

.modal__check-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    width: 16px;
    height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-text-color);
    margin-right: 7px;
    .modal__input-check:checked + & {
      border: none;
      background-color: var(--accent-color);
      border-radius: 4px;
    }
  }
}

.modal__check-icon {
  fill: transparent;
  .modal__input-check:checked + .modal__check-text & {
    fill: var(--primary-white-color);
    border: none;
  }
}

.agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
}

.modal__check-btn {
  margin-top: 30px;
}
