.portfolio__filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    row-gap: 15px;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    flex-wrap: wrap;
    row-gap: 0;
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
    width: calc(100% - 30px);
  }
}

.porfolio-indent {
  padding-left: 0;
  padding-right: 0;
}

.portfolio__list-image {
  width: 100%;
}

// .portfolio__filter-list .portfolio__filter-item:not(:first-child) {
//   margin-left: 8px;
// }

.project-title {
  margin-bottom: 4px;
}

.portfolio__list-items {
  display: flex;
  gap: 30px;
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  // flex-basis: calc(100% / 3 - 30px);
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 480px) {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    width: calc(100% - 30px);
  }
}

.portfolio__list-items .portfolio__item {
  transition: box-shadow 250ms var(--cubic-bezier);

  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    align-items: stretch;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__list-items .portfolio__project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__list-items .portfolio__link {
  text-decoration: none;
}

.portfolio__list-items .portfolio__project-profile {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__wrapper-vision:hover .portfolio__wrapper-text {
  transform: translateY(0);
}
.portfolio__wrapper-vision {
  height: 100%;
}

.portfolio__item-border {
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    height: 106px;
  }
  @media screen and (min-width: 1200px) {
    height: 100%;
  }
}

.portfolio__wrapper-img {
  position: relative;
  overflow: hidden;
}

.portfolio__wrapper-img .portfolio__wrapper-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-white-color);

  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition: transform 250ms var(--cubic-bezier);

  @media screen and (min-width: 480px) {
    height: 100%;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.portfolio__list-items .portfolio__item:hover,
.portfolio__list-items .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  display: block;
}
