@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
    max-width: 480px;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
    max-width: 768px;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
    max-width: 1200px;
  }
}
